[2018-04-02 16:55] jhiemer opened #1 "Mount command failed, returncode=32"
@juliohm1978 first of all thanks for the plugin. I am currently testing it and everything worked so far, except the final binding. My PV, PVC and POD files look as follows:

[code]

[code]

[code]

When I mount the volume I get:
`MountVolume.SetUp failed for volume "sample-volume" : mount command failed, status: Failure, reason: Failed to mount 10.244.0.7:/volume at /var/lib/kubelet/pods/bebada2b-

[2018-04-02 17:54] juliohm1978 commented on #1
`/var/lib/kubelet/pods/bebada2b-3695-11e8-a66c-0a0b5faee91b/volumes/juliohm~cifs/sample-volume` should be created automatically.

`returncode=32` is the return code from the mount command, so that failed for some reason on the node the pod is running.

My first step to diagnose would be to try and mount the NFS share yourself on that node. If you have root or sudo access to the node, you can try

[2018-04-02 19:17] jhiemer commented on #1
@juliohm1978 ok, did a test. Went to the worker and executed:

`worker/271ea794-281a-4f6a-9ff8-999a8e7e316d:/var/vcap/bosh_ssh/bosh_17d36313e911434# sudo mount -t cifs -o username=bV4J5GCk8d,password=******** "//10.244.0.7/volume" /mnt`

Then:
[code]
And on the share:
[code]

[2018-04-02 19:22] juliohm1978 commented on #1
That's strange. The driver should be using pretty much the same mount command.

Can you post the yaml for `volume-secret`. Feel free to redact username and password. Just curious about the yaml structure.

[2018-04-02 19:28] jhiemer commented on #1
[code]

[2018-04-02 19:35] jhiemer commented on #1
And here the logs from the execution:

[code]

[2018-04-02 21:10] juliohm1978 commented on #1
What's the kubernetes version you are using?

[2018-04-03 05:13] jhiemer commented on #1
Client
`Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitCommit:"fc32d2f3698e36b93322a3465f63a14e9f0eaead", GitTreeState:"clean", BuildDate:"2018-03-27T00:13:02Z", GoVersion:"go1.9.4", Compiler:"gc", Platform:"darwin/amd64"}`

Server
`Server Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.5", GitCommit:"f01a2bf98249a4db383560443a59bed0c13575df", GitTreeStat

[2018-04-03 15:08] juliohm1978 commented on #1
By the NFS IP ` 10.244.0.7`, can I guess this is also running inside the cluster? I'll try to run tests on that exact version to try and reproduce this. Whatever details you can give me about the environment is welcome.

[2018-04-03 16:59] juliohm1978 commented on #1
Hi @jhiemer, could you please test version 0.3 of the driver?

You can just update the `install.yaml` file to install this version.

It improves logging posting more details on kubelet's. We should be able to see more details about the mount point it's attempting to create and the exact command issued.

Please, post kubelet logs back here. Thanks in advance.

[2018-04-03 17:36] jhiemer commented on #1
@juliohm1978 did it and now get a new error `MountVolume.SetUp failed for volume "sample-volume" : invalid character '/' after object key:value pair`

[2018-04-03 17:40] juliohm1978 commented on #1
Can you post the kubelet logs?

[2018-04-03 17:46] jhiemer commented on #1
Here you go:

[code]

[2018-04-03 17:52] juliohm1978 commented on #1
Just to be sure, username should really be `bV4J5GCk8d`?

[2018-04-03 17:57] jhiemer commented on #1
Yes they are automatically generated from random strings.

[2018-04-03 18:43] juliohm1978 commented on #1
Ok, one more thing I can think of is that `/bin/mount` might not be getting the correct credentials. We can see they are coming from the secret and passed to the script.

Essentially, the driver creates a temporary file with cifs credentials and pass that as a parameter to `/bin/mount`. The temporary file is deleted right after the mount operation, but you might have a chance at looking at its con

[2018-04-03 20:11] jhiemer commented on #1
@juliohm1978 thanks a lot for your support. I found the root of the problem. `mount.cifs` was only in `/bin` but not in `/sbin`.

This one `mount -t cifs -o credentials=/tmp/temporary.bdd9b6a8-3766-11e8-a66c-0a0b5faee91b.tmp,sec=ntlm,uid=1000,rw "//10.244.0.7/volume" "/some/mount/path"` let me to the right error description.

I will test the volume plugin now and provide some feedback!

[2018-04-03 20:11] #1 closed

[2018-04-03 21:32] juliohm1978 commented on #1
Wow. Great news! I'm not sure I understand the reason for mount to be in /bin and /sbin at the same time. Let me know if you have an explanation for that. Whatever checks I can perform on that mount script can help me provide better error messages.

The project is open for suggestions and improvements. Feel free to open new issues.

[2018-07-29 11:26] christo-ph commented on #1
Hi, I do have the same problem with:

`Warning  FailedMount            28s (x7 over 1m)  kubelet, kvmhost03  MountVolume.SetUp failed for volume "gitlab-cifs" : invalid character '/' after object key:value pair`

Could you please provide the steps to see the temp file? In a container? On the host/nodes?

@jhiemer Could you please provide the steps how you fixed that issue?

[2018-07-29 23:05] juliohm1978 commented on #1
Hi @realshaft

Debuging these components can be tricky. Did you check kubelet logs on the host? This driver will output some messages as part of the kubelet daemon runtime. For kubespray installations on Ubuntu you can use

[code]

[2018-07-31 01:40] etlweather opened #2 "Can't unmount - resource busy"
Kubernetes 1.10.0, installed via Rancher 2.0.6

The plugin mounts the CIFS share without issue. But when I delete a pod, it fails to delete due to being unable to unmount, device or resource busy.

But if I go on the host and issue the `umount` command manually, it just unmounts and the pod goes away.

Logs:

[code]

[2018-07-31 15:00] juliohm1978 commented on #2
Can you see what's keeping the mount resource busy?

[code]

First thing that goes through my mind in this case is that the process inside the pod might be holding the resource busy and not reacting gracefully to the pod shutdown signal.

Can you share what container image you are using?

[2018-08-10 17:53] FerronN commented on #1
I found the problem that is causing the same problem as @realshaft.
My CIFS share does not require the $OPTS parameter. I thought that this would solve my problem but it didn't, so I looked further.

I wrote the mount cmdlet to a file and found out then when the $OPTS parameter is left empty it still ends up like null in the cmdlet.

example

``mount -t cifs -o credentials=/tmp/temporary.fa2588c7-

[2018-08-10 20:43] juliohm1978 commented on #1
Excellent!

Can you test this image vesion `juliohm/kubernetes-cifs-volumedriver-installer:0.4-beta` I just built it with your patch included.

[2018-08-10 21:46] christo-ph commented on #1
Hi. Just wanted to test that, but suddenly I get the message from kubelet:

`Failed to add volume "vol1" (specName: "cifs") for pod "c1bf986b-9ce4-11e8-9c79-b06ebfc5444d" to desiredStateOfWorld. err=failed to get Plugin from volumeSpec for volume "cifs" err=no volume plugin matched`

The driver is on all nodes inside `/var/lib/kubelet/volumeplugins/juliohm~cifs` (Rancher)

But is not related to 0.

[2018-08-11 04:49] juliohm1978 commented on #1
You might need to check how Rancher has kubelet configured, look for the kubelet parameter `--volume-plugin-dir`, and make sure the driver is installed to that directory.

[2018-08-11 10:11] FerronN commented on #1
@juliohm1978  i'm not able to test it at the moment. But i edited the file myself with:

`if [[ "$OPTS" != "" && $OPTS != null ]]`

So if that's all you changed it should work just fine!

[2018-08-11 13:54] juliohm1978 commented on #1
Yes, it is. If you can give us a feedback when you are able to test, I'll appreciate it and release 0.4 officially.

[2018-08-11 19:51] christo-ph commented on #1
Hi @juliohm1978 , I did check the plugin dir in kubelet container:

`root@kvmhost02:~# docker ps --no-trunc | grep kubel 8d67322bbd11c56c403aff02f5868994254ac68556470ea8774e9dcfe1755874   rancher/hyperkube:v1.10.5-rancher1                                                          "/opt/rke/entrypoint.sh kubelet --cni-conf-dir=/etc/cni/net.d --resolv-conf=/etc/resolv.conf --volume-plugin-dir=/var/li

[2018-08-11 21:45] juliohm1978 commented on #1
What a bummer. I know what it's like to deal with these phantom issues that appear all of the sudden. It takes a lot of patience 😃.

I would keep checking for all differences in the environment that might be causing this. K8s versions? Rancher versions? Kubelet versions? Something changed.

Overtime, I found that running several clusters often helps diagnosing issues like this. It helps to have di

[2018-08-13 15:30] juliohm1978 opened #3 "Cannot mount volume if driver.options.opts is empty"
Found by @FerronN while discussing issue [#1](https://github.com/juliohm1978/kubernetes-cifs-volumedriver/issues/1#issuecomment-412158036), the driver fails when no mount options are left empty.

The following, as a provided example, does not work:

[code]

... mainly because it does not define a value for `spec.flexVolume.options.opts`.

[code]

Internally, Json parsing from `jq` returns `null` i

[2018-08-13 15:34] juliohm1978 commented on #3
Fixed in master branch. Can be tested using the image label `0.4-beta`.

`juliohm/kubernetes-cifs-volumedriver-installer:0.4-beta`

[2018-08-13 15:34] #3 closed

[2018-08-16 15:21] FerronN commented on #1
@juliohm1978 version 0.4-beta seems to be working fine. But leaving opts empty is only recommended when the container doesn't try to chown or change permissions.

[2018-08-16 18:58] juliohm1978 commented on #1
Many thanks for the report. Will release a new version soon.

[2018-08-16 22:02] christo-ph commented on #1
Hi, I could manage to get the plugin working again. Unfortunately, the initial error message appears again.

A similar project for cifs in k8s did work for me though. ([https://github.com/fstab/cifs](https://github.com/fstab/cifs))

[2018-12-27 11:57] JannikZed opened #5 "many kubelet issues when pod deleted"
I have a lot of issues with your volume driver .. unfortunately it's mostly impossible right now to delete pods/ they will always stay in status "removing" - the kubelet is showing many errors like:
[code]
and
[code]

Do you have any clue, what we are doing wrong?

[2018-12-27 22:38] juliohm1978 commented on #5
I get the feeling. Some of these error messages are really hard to diagnose.

Keep in mind that the driver itself is rather a simple wrapper script to standard mount/umount command lines, and in your case it seems that something else interfering with the kubelet's ability to mount/umount those shares.

My first guess would be to try and mount the remote samba shares yourself. Inside one of your k8

[2018-12-27 22:38] #5 closed

[2019-04-14 23:12] rsteckler opened #6 "Mount fails"
The following works great when executed on a node:
[code]

From Kubernetes, I get the following:
[code]

Here is my volume yaml
[code]

Thanks for any help you can provide!

[2019-04-15 01:09] juliohm1978 commented on #6
Hi @rsteckler.

Can you confirm the cifs password is really `guest`? My first guess is that you might have special characters in the password that may not be well handled by the mount script.

[2019-04-15 05:20] rsteckler commented on #6
Thanks for the reply.  I figured it out.

First, for those who may end up here in the future, basic debugging of this is:
1)  Go to your volume plugins folder.  If you used Kubespray, it's /var/lib/kubelet/volume-plugins.
2)  Go into the julioohm-cifs folder and verify that the cifs file is there.
3)  Edit the file and put a ``` echo $1 $2 $3 ``` at the top.  Now you can see what kubernetes is pas

[2019-04-15 12:48] juliohm1978 commented on #6
Glad to hear that!

I'll try and think of better ways to include more debug information in the case of failure. The reason I'm not just dumping all arguments is to avoid showing any passwords in the clear.

Thanks for the feedback!

[2019-04-15 12:48] #6 closed

[2019-04-28 02:38] juliohm1978 commented on #2
Closing with 9 months of inactivity. Feel free to reach out if there's still a need to review this.

[2019-04-28 02:38] #2 closed

[2019-10-16 07:49] spawnia opened #8 "Usage of the fsGroup securityContext"
Preface: Thanks for the plugin, it has been working great for us!

I am trying to mount a volume created through this driver into a container with a specific `uid`/`gid`. Here is an abbreviated example of the configuration i am using:

[code]

The volume is successfully mounted, but not as the specified Group `33` - it still belongs to `root:root`.

I have to change the volume definition like so t

[2019-10-30 00:56] juliohm1978 commented on #8
Hi @spawnia. Apologies for the late response. It's been a crazy month, and I haven't had time to calm down and take a look at some personal projects.

This is a great suggestion, and hopefully I'll be able to get around and push a new version soon. Hang in there.

[2019-10-31 02:41] juliohm1978 commented on #8
Ok, so I'm taking a closer look at your idea... but I'm a little confused.

The volume driver does not create the PV itself. It only mounts the volume with opts that were provided. In that regards, it seems to be working.

Unfortunately, I'm not able to control how the PV is provisioned. Either manually or through a provisioner, the volume driver is unable to interact at that moment.

Does that so

[2019-10-31 12:56] spawnia commented on #8
It seems as though Kubernetes does not allow controlling the permissions within certain kinds of provisioned volumes.

I experimented a bit and found that `emptyDir` does apply the `fsGroup`, while your driver and `hostPath` do not.

Other people had similar issues with NFS: https://github.com/kubernetes/examples/issues/260

[2019-10-31 13:16] spawnia commented on #8
I dug a little deeper - looks like Kubernetes will pass through the `fsGroup` option: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-storage/flexvolume.md#default-json-options

[2019-11-01 04:48] juliohm1978 commented on #8
I did some testing with minikube using all values in the pod's `securityContext`.

[code]

 and _voilà_, the following comes up as argument to the volume driver.

[code]

Except, `kubernetes.io/mounterArgs.FsGroup` is the only argument I'm passed from the `securityContext` options. Should I use that for both `uid` and `gid`?

Let me know what you think.

[2019-11-01 05:00] juliohm1978 commented on #8
I also prepared a 0.5-beta version you can test. Let me know if that works.

[code]

[2019-11-04 07:46] spawnia commented on #8
That's really awesome, thanks for digging in.

I would like to review the code as well, could you put it up as a PR?

[2019-11-05 02:41] juliohm1978 commented on #8
There ya go

https://github.com/juliohm1978/kubernetes-cifs-volumedriver/pull/9

[2019-11-07 10:53] #8 closed

[2020-01-05 02:49] halkeye opened #13 "Init apparently runs inside of kube-controller-manager"
`./cifs init` apparently runs inside of kube-controller-manager which doesn't have /bin/bash, so
[code]

switching to `#!/bin/sh` shebang gives us
[code]

Installing jq inside the container, moves onto the next issue

[code]

which is fixed by switching to /bin/echo instead of the built in echo

I can submit a PR that fixes some of these, but i'm not sure how to fix the jq inside of kube-controlle

[2020-01-05 05:57] halkeye commented on #13
So I have a fork now with more detailed error trapping as its in go

https://github.com/halkeye/kubernetes-cifs-volumedriver/blob/master/main.go

I'm pretty sure you said in the past you were not interested in it, but lemme know if you want me to upstream it

[2020-01-05 14:27] juliohm1978 commented on #13
Nice! Thank you. I'll try to get working on this as soon as I can.

Meanwhile, there is a working v2.0-beta available from this branch:

https://github.com/juliohm1978/kubernetes-cifs-volumedriver/tree/golang

I finally got around to learning it. The driver was rewritten in Go, and it should avoid the problems from this issue. Feel free to give it a test run.

[2020-01-05 14:29] juliohm1978 commented on #13
I'll take a look at your branch as well. Thanks for the effort!

[2020-01-05 22:38] juliohm1978 commented on #13
Ok, I suppose this issue would be fixed by using either Go implementation.

Looking at your branch, a few differences come up:

* 3rd party dependencies, ie: `github.com/halkeye/flexvolume`.
* Missing patch for https://github.com/juliohm1978/kubernetes-cifs-volumedriver/issues/8, including support for k8s 1.14 & older versions (`kubernetes.io/fsGroup`).
* No need to write credentials to temporary

[2020-01-05 22:55] halkeye commented on #13
Yea, I like the version before I used that dep. I have a PR ready to add a few of the error handing i found to yours.

I'm way happier with yours

[2020-01-10 03:39] juliohm1978 commented on #13
Fixed by https://github.com/juliohm1978/kubernetes-cifs-volumedriver/pull/16, released with v2.0.

[2020-01-10 03:39] #13 closed

[2020-01-16 05:43] halkeye opened #17 "You should add flexvolume-driver topic"
looks like a bunch of others have - https://github.com/topics/flexvolume-driver

[2020-01-16 14:58] juliohm1978 commented on #17
Nice. How do I do that?

[2020-01-16 15:00] juliohm1978 commented on #17
Nevermind. Just found the topics settings.

Added the new topic to the project.

Thanks!

[2020-01-16 15:00] #17 closed

[2020-01-22 11:01] cwrau opened #18 "Pod stuck on creating when using fsGroup"
Thanks for this awesome project!

Sadly I'm having trouble using the fsGroup feature.
When I use it in my deployments, the pods get stuck in `ContainerCreating` because of `Unable to attach or mount volumes: unmounted volumes=[config], unattached volumes=[config tmp runtime data]: timed out waiting for the condition`.

As soon as I remove the fsGroup, everything works as expected 👌

Have you encou

[2020-01-22 19:24] juliohm1978 commented on #18
Hi. Thanks for the report.

Can you enable driver logs? Instructions right at the bottom of the README.md file.

[code]

Please, note that passwords may show up in this log file. Review before pasting the content here.

[2020-01-23 09:54] cwrau commented on #18
Sure:

(This is another pod than the one before)

[code]

The mount is really there and works, but the pod is still in `ContainerCreating`

[2020-01-23 10:02] halkeye commented on #18
Do you have the same issue if you manually add the uid and his to the mount options instead of using fsgroups? I'm not the author but I wonder if fsgroups does more stuff in k8s

[2020-01-23 12:43] cwrau commented on #18
You're right, when I add the `uid`/`gid` via the `opts` it works as it should 🤔

Maybe the `fsgroup` does some kind of check?

[2020-01-23 15:36] juliohm1978 commented on #18
Hi @cwrau,

I was able to create a similar behaviour using the official nginx image. For this particular case, if I also change the securityContext `runAsUser` and `runAsGroup`, the container fails to start and gets stuck at `ContainerCreating`.

Can you check kubelet logs? For Ubuntu, in the node where the pod is scheduled, you can use

[code]

This might show you why the container is not startin

[2020-01-23 17:03] cwrau commented on #18
`CrashLoopBackoff` happened to me too, with the nginx pod, that's because it can't start as non root 😄

Gotta change the `command` to `sleep 999999` 😄

Now I can't reproduce it 😭

[2020-01-23 18:45] juliohm1978 commented on #18
I'm guessing right now that your container is unable to start with the uid you provide. If you can publish a reproducible test case, I'll be able to take a closer look at it.

[2020-01-24 10:17] cwrau commented on #18
No, that's not it, we didn't use those flags.

But, I can't reproduce this anymore 😅
It just started working...

Maybe it was a problem with our nodes? 😕

I think I'll just close this, and if it happens again, I'll reopen it 😅

[2020-01-24 10:17] #18 closed

[2020-01-24 14:52] juliohm1978 commented on #18
Thank you for the feedback! Feel free to open new issues later.

[2020-02-19 20:18] ballerabdude opened #20 "license"
Can you add a license?

[2020-02-19 23:29] juliohm1978 commented on #20
Yes, definitely. I'll catch up on reading about them and get on it. Any suggestions?

[2020-02-20 00:04] halkeye commented on #20
https://tldrlegal.com/license/mit-license is my go to, allows anyone to use it, commercial or not, but i can't be held liable.

The other "Do whatever you want" license is https://tldrlegal.com/license/apache-license-2.0-(apache-2.0) but i stick with MIT most of the time, for no real reason

[2020-02-20 02:43] juliohm1978 commented on #20
MIT sounds fine. Thanks for the suggestion. I never thought it would reach that level of usage :)

Fixed with https://github.com/juliohm1978/kubernetes-cifs-volumedriver/commit/ad497cd04b8ecb0ed9c260eacfc45bbd25438bb0

[2020-02-20 02:43] #20 closed

[2020-04-06 07:41] Leopol35 opened #21 "Mount error using v2.0"
Hello,

First, thanks for your amazing job. I try to deply your plugin using 2.0 on my 1.17.4 cluster.

I use daemontset deployment.

I create a aecret for pv, pv, a pvc and a deployment using the pvc.

Logs of my deployment:

_root@******:/tmp/test-cifs# kubectl describe pods nginx-deployment-b45979dcd-xdsp2
Name:           nginx-deployment-b45979dcd-xdsp2
Namespace:      default
Priority:

[2020-04-06 18:21] halkeye commented on #21
When you declare your base64 of your secret, is there a new line in the base64?

[2020-04-07 03:20] juliohm1978 commented on #21
@halkeye's tip is a good start.

https://kubernetes.io/docs/concepts/configuration/secret/

The Secret's data might have been created with a trailing new line character. It's a common mistake when using shell tools like `echo` and `base64`.

[code]

The `-n` flag tells echo to not include a new line character at the end of the string.

[2020-04-07 03:30] halkeye commented on #21
I personally love https://github.com/lbolla/kube-secret-editor

[2020-04-07 04:11] juliohm1978 commented on #21
@Leopol35,

Can you, please, test `juliohm/kubernetes-cifs-volumedriver-installer:2.1-beta`? It includes PR https://github.com/juliohm1978/kubernetes-cifs-volumedriver/pull/22 that was just merged.

This version should trim new line characters and carriage returns from the password before using it.

[2020-04-07 07:30] Leopol35 commented on #21
Hello,

Thanks both of you for your interests!

@halkeye, this is working using your "echo" with version "2.0" 👍 . For your information, i was using "echo "password" | base64 -w 0"

@juliohm1978 i use 2.1-beta, and it's working with my old credentials, so your fix is working 👍

Thanks for you help. This is my first issue in github, i close the issue ?

[2020-04-07 12:19] juliohm1978 commented on #21
That's great. I'll provide a new version release right away.

[2020-04-07 12:19] #21 closed

[2020-08-21 16:40] brec opened #23 "Kube node fails to chown and chmod the SMB share and then times out"
Hi, thanks for this great project! I appreciate the work that's gone into it.

I'm close to having this working, but ran into an issue that's stumped me and would appreciate any help.

The pod will fail to create, because the mount operation to the pod times out. However, the volume is mounted and present on the worker node, in the correct directory. So it appears that the CIFS mount operation is

[2020-08-21 21:22] brec commented on #23
Adding some more detail:

Our kubelet user runs as root, so it's surprising that it gets a permission denied.

I've also tried a few different deployment configs for both our deployment and the persistent volume. I've tried using a `securityContext` and supplied a `runAsUser`, `runAsGroup`, and `fsGroup` configurations. These other configurations result in the same permission denied error when the

[2020-08-22 01:29] juliohm1978 commented on #23
Hey, thanks! I think you are right.

But the error itself might be related to the credentials used (the user/password in your Secret). Is it possible that it might not have enough privileges? Maybe try with a more privileged user?

Either way, that is a really interesting insight. I never realized that `fsGroup` from a pod security policy results in Kubelet actually trying to `chwon/chmod` the ent

[2020-08-22 01:50] juliohm1978 commented on #23
Can you give `2.2-beta` a try? The image has been pushed.

[2020-08-23 02:39] brec commented on #23
Hey @juliohm1978 this is an interesting insight, and explains why it's trying to change the owner, I wasn't sure if that was intended or not. The cifs user / secret user is limited to prevent any unwanted ownership changes. I think using a "super" user is a last option, I would prefer to resolve this by using the new image.

I will try the new image and let you know how it goes.

Thanks again for

[2020-08-23 03:00] juliohm1978 commented on #23
No problem. I mentioned using a super user just for verification. If it works, then you know the user in your Secret needs more permission. But I do expect 2.2-beta to work with the same credentials you have now.

[2020-08-24 15:10] brec commented on #23
@juliohm1978 It's working ! The windows share mounts without issue.

This is the security context declaration in our deployment that is working:
[code]

Thanks again for fixing this.

[2020-08-24 18:03] juliohm1978 commented on #23
Glad to hear!
2.2 coming up next.

[2020-08-24 18:09] juliohm1978 commented on #23
v2.2 released, which disables `fsGroup` capability for this driver.

https://github.com/juliohm1978/kubernetes-cifs-volumedriver/releases/tag/v2.2

[2020-08-24 18:10] #23 closed

[2020-09-15 01:14] Nwhouse opened #24 "standard_init_linux.go:211: exec user process caused "exec format error""
Hello.
I have installed the cifs driver on my raspberry pi cluster and I and getting this error.
standard_init_linux.go:211: exec user process caused "exec format error"

Can you advise?

Thanks

[2020-09-15 01:17] halkeye commented on #24
That says the binary your trying to run is not compiled for the architecture that your running it in. Ish

I don't think the docker image used to do the install, by default, is compiled for arm

[2020-09-15 01:48] juliohm1978 commented on #24
Hi, thanks for the issue report.

I was wondering myself when this demand would actually show up. But I'm not quite sure yet how to cross compile to multiple platforms. Would it really just be a matter of setting `GOOS` and `GOARCH` as environment variables? I'm glad to include multiple docker images for different archs, but I need some pointers.

Right how, I guess you'd have to compile the binar

[2020-09-15 01:51] halkeye commented on #24
That would produce the right binary but not the right docker image.

Are you using a ci? I think docker hub can build and tag multiple oses

[2020-09-15 02:07] juliohm1978 commented on #24
I'm not using any CI right now, but it might be a good time to set things up. Docker Hub automated builds come to mind. I'm open to suggestions.

[2020-09-15 02:11] halkeye commented on #24
Docker hub is probably the most straight forward. But apparently it's just a bunch of docker manifest commands so it could be done with any ci or even locally.

https://www.docker.com/blog/multi-arch-build-and-images-the-simple-way/

Until now I only knew it could be done but not how

[2020-09-15 02:49] juliohm1978 commented on #24
I managed to create several images here by just tweaking `Makefile` and `Dockerfile`.

[code]
But I have no way of actually testing all of those.

@Nwhouse, can you check if `juliohm/kubernetes-cifs-volumedriver-installer:2.3-beta-linux-arm` works for you?

[2020-09-15 04:20] juliohm1978 commented on #24
Ok, so I figured out the initial steps with my local copy.

The current 2.3-beta tag is a proper multi-arch image. I can build it with multiple binaries and manifests, but I still can't actually run tests on all of them. I think I can eventually get that working with qemu. Otherwise, I'll start looking for a CI that supports that.

Either way, I can release 2.3 as soon as we get confirmation that

[2020-09-15 04:24] halkeye commented on #24
not Op, but tested with my pi. Looks like the

[code]

[code]

[code]

So binary works, container doesn't

[2020-09-15 04:58] juliohm1978 commented on #24
I see! Busybox should also be arm compatible, and they support that.

Can you try pulling the latest 2.3-beta? I've been pushing that tag multiple times, and it should parent from the correct busybox arch now.

`juliohm/kubernetes-cifs-volumedriver-installer:2.3-beta`

[2020-09-15 05:10] halkeye commented on #24
[code]

seems like it'll work

I can't wait to see your final scripts

[2020-09-15 05:46] #24 closed

[2020-09-15 05:53] juliohm1978 commented on #24
@Nwhouse,
The issue was closed automatically because of my commit comment (fix #24 ...). Please check out `juliohm/kubernetes-cifs-volumedriver-installer:2.3-beta` to make sure it works. This image should provide multiple binaries for each of these initially supported archs:

* linux/amd64
* linux/386
* linux/arm
* linux/arm64
* linux/ppc64le

@halkeye,
The modifications are commited to master. Mo

[2020-09-15 20:20] Nwhouse commented on #24
@juliohm1978
Thanks a bunch for this. I am excited to try it.
I am still new to this so if you can provide me the commands to run to perform the install I would be very grateful and I will report back my findings.

Thanks!

[2020-09-15 20:24] halkeye commented on #24
https://github.com/juliohm1978/kubernetes-cifs-volumedriver/blob/master/install.yaml#L16

Change the image tag, then re-apply the yaml file

[2020-09-15 20:34] Nwhouse commented on #24
Boom!
Worked like a champ.
Thanks a bunch!!!

[2020-09-16 19:30] juliohm1978 commented on #24
Great!
Also, v2.3 is officially released. You can drop the beta tag and use that for a stable version.

[2020-11-19 19:18] juliohm1978 opened #25 "While mount command hangs indefinitely, subsequent mounts terminate with error "Host is down"."
For a while now, a strange behavior has been lurking our infrastructure. Sometimes, at random periods, some Pods get stuck at "ContainerCreating" status and never start. For all we know, this happens at random intervals in different nodes in the Kubernetes cluster. Notebly, all Kunernetes nodes are essentially replicas of the same Ubuntu installation, and that only makes things weird. Even weirder

[2020-12-17 22:07] venomone opened #26 "Unable to mount CIFS share (on Rancher)"
Hey,

sadly im not able to use your driver as it always fails if the pod tries to mount the share. Error:

[code]

This is my yaml:
[code]
[code]

Volume driver has been installed at: /usr/libexec/kubernetes/kubelet-plugins/volume/exec/juliohm~cifs

Im on rancher 2.5.2 and k8s 1.19.4. Can smb help?

[2021-01-14 20:51] juliohm1978 commented on #26
Hi @venomone!

My apologies for the long delay.

I'm not sure how your `secretGenerator` yaml is processed in your environment. Can you verify that the secret is created with the correct type? It needs to be `type: juliohm/cifs` matching the driver name.

[2021-01-14 20:54] juliohm1978 commented on #26
Another aspect to consider is to check if the Rancher installer changed the default path for volume plugins?

`/usr/libexec/kubernetes/kubelet-plugins/volume` is the kubelet default, but this can be changed with kubelet parameter `--volume-plugin-dir` in a custom installation.

[2021-04-15 06:54] jonbrohauge opened #29 "Mount Error - using special characters in password"
Due to our password policy, we have to use special characters in all passwords.
The mount command fails when there is a comma in the password.

I have tested using the command line: `mount -t cifs -o username=aUser,password=x!Ya,24 //mount-server/share /target/directory`

However using a credentials-file, the mount works: `mount -t cifs -o $(pwd)/credentials=cifs.credentials //mount-server/share /

[2021-04-15 08:09] halkeye commented on #29
Apparently you can either encode or quote it. I would guess encode is safer so you dont need to worry about quotes.
https://serverfault.com/questions/170407/how-to-pass-a-password-with-punctuation-characters-to-mount-command

Code should be around https://github.com/juliohm1978/kubernetes-cifs-volumedriver/blob/master/main.go#L147

I remember the credential file was dropped when the rewrite happen

[2021-04-15 08:26] jonbrohauge commented on #29
I've tried both, and neither works. If I URL encode, I get a permission denied, du to the password is wrong. Quotes are the same issue.
The value of the password is taken very literal. If I encode `x!Ya,24` the value is `x%21Ya%2C24`, and it's still permission denied, due to the access sees the encoded password as wrong. Same thing goes for, if I use quotes. then the password value is seen as this

[2021-04-15 12:31] juliohm1978 commented on #29
Hi @jonbrohauge. Thanks for the report!

Have you tried encoding with backslashes? Maybe `x!Ya\,24` ?

[2021-04-15 12:33] jonbrohauge commented on #29
@juliohm1978 Same, same...

The parameter password expects a literal string, so using backslashes produces an error as well.
I just retried it to be sure 😉

[2021-04-15 12:46] juliohm1978 commented on #29
Do you have any output of the error message?

I'm trying to understand why this fails by parsing, especially when it is not executed by a shell. We are using the os/exec package, which should feed the contents of the password directly as an argument for the `mount` command, without any shell processing.

[2021-04-15 12:48] juliohm1978 commented on #29
For example, I would expect this to fail in bash for sure:

[code]

But, under Go's os/exec, it works fine.

[code]

[2021-04-15 12:54] jonbrohauge commented on #29
Test:
`sudo mount -t cifs //server/share /target/directory/ -o username=aUser,password=4o)yuOxB5i,h`
Result:

Test without escaped characters:
`sudo mount -t cifs //server/share /target/directory/ -o username=aUser,password='4o)yuOxB5i,h'`
`sudo mount -t cifs //server/share /target/directory/ -o username=aUser,password="4o)yuOxB5i,h"`
Result:

Refer to the mount.cifs(8) manual page (e.g. man mount

[2021-04-15 12:57] jonbrohauge commented on #29
I'm testing the mount-command on a Debian Buster 10.8
Using bash-shell: GNU bash, version 5.0.3(1)-release (x86_64-pc-linux-gnu)

[2021-04-15 13:01] juliohm1978 commented on #29
Do you have access to a Go runtime? Can you test if this works?

[code]

Save the contents to a file `test.go` and run with `sudo go run test.go`

[2021-04-15 13:02] jonbrohauge commented on #29
I do not have any go runtime installed currently
Point me in the right direction, and I try you above test.

[2021-04-15 13:08] juliohm1978 commented on #29
It's quite simple to improvise. Just download a recent Go package (https://golang.org/dl/go1.16.3.linux-amd64.tar.gz).

Unpack to any directory and include `GO_INSTALL_DIR/bin` to your shell `$PATH`. If not you can just run directly from `GO_INSTALL_DIR/bin/go run test.go`

[2021-04-15 13:24] jonbrohauge commented on #29
I get no output...

[2021-04-15 13:27] juliohm1978 commented on #29
And the mount? Did not work?

[2021-04-15 13:27] jonbrohauge commented on #29
I tried your echo-example, which gave me no output as well

EDIT: I made a typo in copy/pasting your example 😳
The example outputs the expected text

[2021-04-15 13:30] juliohm1978 commented on #29
Ok.. can you post the error that appears in the pod description?

[2021-04-15 13:40] jonbrohauge commented on #29
When I try to mount with credentials where the password does not contain a comma, it works.
And I need to run the go-script as `sudo` due to mount requiring `sudo` to run
I'm redeploying with the credentials "that broke the build". BRB

[2021-04-15 13:48] jonbrohauge commented on #29
Warning  FailedMount  14s (x6 over 29s)  kubelet, k8sd04b1  MountVolume.SetUp failed for volume "monitoring-grafana-data" : mount command failed, status: Failure, reason: Error: Error running cmd [cmd=/usr/bin/mount -t cifs -o rw,username=[REDACTED_USERNAME],**password=4o)yuOxB5i,h**,dir_mode=0777,file_mode=0777,noperm //server/share /var/lib/kubelet/pods/2bc8e676-7703-489c-aa17-1813432106da/volum

[2021-04-15 13:56] jonbrohauge commented on #29
Everywhere I've looked, there is only one answer, use a credentials-file, if you have special characters in your username or password.
Is there any way to take the username/password from the Secret, and generate a temporary file that is used for the mount and then discarded?

[2021-04-15 16:08] juliohm1978 commented on #29
I think I fully understand the issue now. It's does relate to parsing command line arguments, but all the way down to the level of mount's own implementation. That is a known issue :D

`mount` tries to break the `-o` parameter value using commas. So, it will certainly break your password and think the following `h` is not a valid parameter. There is really no way to escape this character in mount'

[2021-04-15 16:10] jonbrohauge commented on #29
I'll test this, first thing tomorrow morning.

[2021-04-15 16:13] jonbrohauge commented on #29
According to this link: https://linux.die.net/man/8/mount.cifs it should work.

[2021-04-16 02:46] juliohm1978 commented on #29
I managed to cook a 2.4-beta preview that incorporates a new option. Can you test it? Install this version of the driver:

[code]

And modify your volume to include `passwdMethod: env`. For example:

[code]

This should cause the driver to use the `PASSWD` environment variable, instead of the usual `password=***` option. I was able to reproduce the problem and work around it with this new option.

[2021-04-16 03:06] juliohm1978 opened #30 "Unmount should ignore exit code 32 -- not mounted"
Error code 32 means `not mounted`. In practice, it indicates that  `umount` did not actually do anything useful, except report that the mount point is no longer mounted.

Somehow, several calls from the kubelet are issued after the volume was unmounted, resulting in repeated error messages in the driver logs:

[code]

The driver could very well ignore the error code 32 to avoid misleading the kube

[2021-04-16 03:14] juliohm1978 opened #31 "Panic interpreting json payload leads to driver exiting without any errors"
Some edge cases came up during local tests indicating that a panic from interpreting the json arguments passed to the driver may lead to successful exit codes.

[code]

This leads to a very strange side effect, where the volume is not actually mounted, but the pod successfully starts without the correct volume in place. Further errors pile up during the pod termination (https://github.com/juliohm1

[2021-04-16 03:59] juliohm1978 commented on #25
Won't fix. Issues does not seem related to the volume driver. It also appears in other implementations.

https://github.com/Azure/kubernetes-volume-drivers/issues/45

Using more detailed arguments in the mount option seems to workaround the issue.

[code]

[2021-04-16 03:59] #25 closed

[2021-04-16 05:59] jonbrohauge commented on #29
I've added `passwdMethod: env` to the options, deployed version 2.4-beta and it works.
Thank you for the quick solution.

[2021-04-16 11:50] juliohm1978 commented on #29
Great!

I'm working on a few other issues I found while testing this one. There should be a fresh 2.4 release soon.

[2021-04-16 15:40] #29 closed

[2021-04-16 15:40] #30 closed

[2021-04-16 15:40] #31 closed

[2021-04-16 17:38] juliohm1978 commented on #26
Closing after a few months without any feedback. Feel free to reopen.

[2021-04-16 17:38] #26 closed

[2021-04-28 11:24] aupadh12 opened #32 "Not able to mount on AWS EKS"
Hello,

I am trying to mount a NAS windows share hosted on-prem having NTFS file system on the AWS EKS as CIFS mount.
WE need this drive mounted in a pod which is hosting an application and this application reads data from this drive.
We have installed cifs-utils on the worker nodes and also have the cifs volume driver installed using daemonset in my cluster.
But, even after these steps, I am gett

[2021-04-28 15:57] juliohm1978 commented on #32
Hi @aupadh12! Thank you for the report.

A few questions:

1) What version of the driver are you using?

2) Does your password have any commas (,) ?

I noticed this part of the command line `ro 0 0`. Can  you elaborate on what `0 0` means?

[2021-04-28 17:46] aupadh12 commented on #32
Hi @juliohm1978 ,

I am using the latest available version which is 2.3 and my password does not have commas but it does have '@' which I think is acceptable.
ro 0 0 does not have any significance. I tried running this even after removing the 0 0 but I am still getting the same error.
Am I missing anything here?

[2021-04-28 20:13] juliohm1978 commented on #32
Can you try running this on any node of the cluster as root?

[code]
The mount command itself should work.

[2021-04-28 21:41] aupadh12 commented on #32
Hi @juliohm1978 ,

I tried few other things like including ver=1.0, and now I am getting below error:

Warning  FailedMount  3s (x5 over 17s)  kubelet, ip-10-12-199-220.ec2.internal  MountVolume.SetUp failed for volume "app-2" : mount command failed, status: Failure, reason: Error: Error running cmd [cmd=/usr/bin/mount -t cifs -o rw,username=user1,password=password,vers=1.0,sec=ntlmssp,uid=60425,n

[2021-04-28 21:48] juliohm1978 commented on #32
I see. It is important that you make sure the mount command actually works outside the driver. From any node in the cluster, as root, you can test the mount using the same command line the driver is showing:

[code]

Does it show the same error?

[2021-05-04 14:42] aupadh12 commented on #32
Hi @juliohm1978 ,

We tried mounting it but we got below mentioned error:

Retrying with upper case share name
mount error(6): No such device or address
Refer to the mount.cifs(8) manual page (e.g. man mount.cifs)

[2021-05-04 21:00] juliohm1978 commented on #32
Sounds like you need to get your mount command line straight before using the driver. Post more details if you need more help :smile:

[2021-05-11 14:27] aupadh12 commented on #32
Hi @juliohm1978 ,

I was able to mount it using this driver.
The issue was instead of this '//server1/folder1$/subfolder\040Store\040MI'  , I need to use "//server1/folder1$/subfolder Store MI"
This solved the issue.

[2021-05-11 14:27] #32 closed

[2021-05-13 01:32] juliohm1978 commented on #32
Great to hear!

[2021-09-06 21:08] theangryangel opened #33 "One failing volume causes others to fail"
Sorry I hit submit on this prematurely. I’m still investigating. Apologies for the noise.

[2021-09-06 21:10] #33 closed

[2021-09-06 21:31] juliohm1978 commented on #33
No worries. Just reopen if you need to.

[2022-03-15 18:27] timmy59100 opened #34 "Pod starts successfully but volume is not mounted"
Similar to https://github.com/juliohm1978/kubernetes-cifs-volumedriver/issues/31 the pod starts successfully but the volume is not mounted.

Since this week the volume gets not properly mounted anymore except on one node where it still works.

The logs on the node which the mount works looks the same.

Logs on unsuccessful mount:

volumedriver log:

`2022/03/15 18:20:38 [mount -t cifs -o rw,userna

[2022-04-05 20:04] timmy59100 commented on #34
It was an authentication issue with the share, but it's confusing that the driver says status success.